
BEA Income by County.xlsx
BLS Unemployment by County 2019.xlsx
Brant Ivey Capstone proposal - Brant Ivey v2.docx
Census tracts.csv
Labor force by county.xlsx
Per capita income by county.xlsx
School achievement scores.xlsx
Various broadband census type questions.csv
Various broadband census type questions_TOP_20_TN.csv
Wireless deployment - FCC 477.csv
Zip Code Lat Lon.csv
ZIP to Census Tract.xlsx
zip_to_zcta_2019 (1).xlsx
FCC 477 - TN.csv
Presence and types of internet subscriptions TN Top 20.csv
TN Population 2018 Top 20 Counties.csv
Top 20 TN Broadband by Demographics.csv
ZIP_COUNTY_032020.xlsx
ACSDP1Y2018.DP05.csv
ACSDP1Y2018.DP05_metadata_2020-06-02T204135.csv
ACSST5Y2018.S2801.csv
ACSST5Y2018.S2802.csv
ACSST5Y2018.S2801_metadata_2020-06-02T201513.csv
ACSST5Y2018.S2802_metadata_2020-06-02T201050.csv
ACSDP1Y2018.DP05_table_title_2020-06-02T204135.txt
Census_Tract_to_PUMA.txt
ZCTA_to_County.txt
BEA Income by County 2018.xlsx
FCC 477 - TN 2018.csv
Per capita income by county 2018.xlsx
School achievement scores 2018.csv
zip_to_county_code.xlsx
zip_to_puma.xlsx
Labor force by county 2018.xlsx
zip_to_zcta.xlsx
zip_to_state_and_county.xlsx
*.csv
