
BEA Income by County.xlsx
BLS Unemployment by County 2019.xlsx
Brant Ivey Capstone proposal - Brant Ivey v2.docx
Census tracts.csv
Labor force by county.xlsx
Per capita income by county.xlsx
School achievement scores.xlsx
Various broadband census type questions.csv
Various broadband census type questions_TOP_20_TN.csv
Wireless deployment - FCC 477.csv
Zip Code Lat Lon.csv
ZIP to Census Tract.xlsx
zip_to_zcta_2019 (1).xlsx
